body{
    color:rgb(30,30,30);
    background-color: rgb(255,255,255);
    font-family: 'Source Sans Pro', sans-serif;
}
.section-banner{
    height:200px;    
    background: rgb(198,198,198);
    
}
.logo{    
    margin-top: 25px;
}
.nav{
    float: right;
    margin-top: 15px;
}
.nav-link{
    color:rgb(30,30,30);
    font-size: 25px;
}
a:hover{
    color:rgb(95,118,116);
    
}
.w1152{
    width: 1152px;
    margin: auto;
}
.w768{
    width: 768px;
    margin-top: 50px;  
}
.w250{
    width: 250px;
}
.section-blurb{
    height: 500px;
}
.rad-25{
    border-radius: 25px;
}
.section-why{
    height: 300px;
    background: rgb(198,198,198);
    font-size: 25px;
    color: rgb(30,30,30);
}
h1{
    font-family: 'Elsie', cursive;
}
.section-image{
    height: 640px;
    background-image: url("/images/ride02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.section-perks{
    height: 300px;
    
}
.icon{
    margin-top: 20px;
    width: 150px;
    display: block;
}

.section-buttons{
    height: 200px;
    background: rgb(95,118,116);
}
.stuber-btn{
    display: block;
    margin-top: 50px;
    padding-top:25px;
    padding-bottom:25px; 
    width: 300px;
    background-color: rgb(242,176,89);
    border:none;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family:  'Elsie', cursive;
    color: rgb(30,30,30);
    
}
.stuber-btn-small{
    display: block;
    padding:5px;
    padding:5px; 
    font-size: 20px;
    color: rgb(30,30,30);
    background-color: rgb(242,176,89);
    border:none;
    text-decoration: none;
    text-align: center;
    font-family:  'Elsie', cursive;
}
.stuber-btn:hover, .stuber-btn-small:hover{
    color: rgb(30,30,30);
    background-color: rgba(242,176,89,.9);
    text-decoration: none !important;    
}
.section-footer{
    height: 100px;
    background: rgb(198,198,198);
}
.w50{
    width: 400px;
}

/* SIGN IN  |  SIGN IN  |  SIGN IN  |  SIGN IN  |  SIGN IN  |  SIGN IN  |  SIGN IN  | */

.section-signin-register{
    min-height: 750px;
}
.section-signin{
    background-color: rgb(198,198,198);
}
.grey-overide{
    background-color: rgb(168, 168, 168)!important;
}

/* LISTINGS  |  LISTINGS  |  LISTINGS  |  LISTINGS  |  LISTINGS  |  LISTINGS  |  LISTINGS  |   */

.filters{
    background-color: rgb(198,198,198);
    
}
.section-listings{
    min-height: 1000px;
    background-color: rgb(95,118,116);
}
.map{
    display:inline;
}