body{
    color:rgb(30,30,30);
    background-color: rgb(255,255,255);
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h2{
    font-size: 1.5em;
}
.section-banner{
    height:200px;    
    background: rgb(198,198,198);
    width: 100%;
    
}
.logo{    
    margin-top: 25px;
}
.nav{
    float: right;
    margin-top: 15px;
}
.nav-link{
    color:rgb(30,30,30);
    font-size: 25px;
}
@media only screen and (max-width: 768px){
    .nav-mobile{
        
        padding:3px;
        padding:3px;
        margin-top: 10px;
        
        border-radius: 25px;
        background-color: rgb(242,176,89);
        text-decoration: none;
        text-align: center;        
        max-width: 300px;
    }
}
a:hover{
    color:rgb(95,118,116);
    
}
.w1536{
    max-width: 1536px;
    margin: auto;
}
.w1152{
    max-width: 1152px;
    margin: auto;
}
.w768{
    max-width: 768px;
    margin-top: 50px;  
}
.w250{
    width: 250px;
}
.section-blurb{
    /* min-height: 500px; */
}



.rad-25{
    border-radius: 25px;
}
.section-why{
    
    min-height: 300px;
    background: rgb(198,198,198);
    font-size: 25px;
    color: rgb(30,30,30);
}
h1{
    font-family: 'Elsie', cursive;
    font-size: 2em;
}
h2{
    
}
.section-image{
    
    height: 640px;
    background-image: url("/images/ride02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 768px){
    .section-image{
        height: 320px;
    }
}
.section-perks{
    min-height: 300px;
    
}
.icon{
    margin-top: 20px;
    width: 150px;
    display: block;
}

.section-buttons{
    min-height: 200px;
    background: rgb(95,118,116);
}
.stuber-btn{
    display: block;
    margin-top: 50px;
    padding-top:25px;
    padding-bottom:25px; 
    width: 300px;
    background-color: rgb(242,176,89);
    border:none;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family:  'Elsie', cursive;
    color: rgb(30,30,30);
    
}
.stuber-btn-small{
    display: block;
    padding:5px;
    padding:5px; 
    font-size: 20px;
    color: rgb(30,30,30);
    background-color: rgb(242,176,89);
    border:none;
    text-decoration: none;
    text-align: center;
    font-family:  'Elsie', cursive;
    max-width: 300px;
}
.stuber-btn:hover, .stuber-btn-small:hover{
    color: rgb(30,30,30);
    background-color: rgba(242,176,89,.9);
    text-decoration: none !important;    
}
.section-footer{
    height: 100px;
    background: rgb(198,198,198);
}
.w50{
    width: 400px;
}
.social:hover{
    opacity: 0.8;
}

/* SIGN IN  |  SIGN IN  |  SIGN IN  |  SIGN IN  |  SIGN IN  |  SIGN IN  |  SIGN IN  | */

.section-signin-register{
    min-height: 750px;
}
.section-signin{
    background-color: rgb(198,198,198);
    max-width: 400px;
    
}
.grey-overide{
    background-color: rgb(168, 168, 168)!important;
}

/* LISTINGS  |  LISTINGS  |  LISTINGS  |  LISTINGS  |  LISTINGS  |  LISTINGS  |  LISTINGS  |   */


.section-listings{
    margin-top:20px;
    min-height: 950px;
    background-color: rgb(95,118,116);
}
.filter{
    text-decoration: none;
    color:rgb(30,30,30);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
}
.filter.selected{
    background-color: rgb(242,176,89);
}
li{
    list-style: none;
}
.button-container{
    background-color: rgb(198,198,198);
    width: 300px;
    height: 330px;
    margin-bottom: 20px;
}
.button-container a:hover{
    text-decoration: none;
    background-color: rgb(242,176,89);
    padding: 0 4px 0 4px;
    border-radius: 25px;
    color:rgb(30,30,30);
}
.button-container ul{
    
}
@media only screen and (max-width: 992px){
    .button-container{
        width: 420px;
        
    }
}
.map{
    width: 420px;
    height: 400px;
}

.listing{
    max-width: 1152px;
    width: 80%;
    min-height: 150px;
    background-color: rgb(198,198,198);
}
.lister-img{
    width:120px;
    height: 120px;
    margin-top: 15px;
}
.rating{
    height: 25px;
    width: 25px;
    float: right;
}
/* MESSENGER  |  MESSENGER  |  MESSENGER  |  MESSENGER  |  MESSENGER  |  MESSENGER  |  MESSENGER  |   */
.w80{
    width: 80%;
}
.section-messenger{
    

}
.contacts{
    background-color: rgb(150, 150, 150);
    margin-bottom: 20px;
}
.contact{
    width: 80%;
    min-height: 150px;
    background-color: rgb(198,198,198);
}

.messages{
    background-color: rgb(95,118,116);
    margin-bottom: 20px;
}
.lister-img-small{
    width:60px;
    height:60px;
    margin-top:15px;
}
.history{
    height:600px; 
    overflow-y: scroll;
}
.message{
    width: 80%;
    min-height: 150px;
    background-color: rgb(198,198,198);
}
.type-box{
    height: 100px;
    
}